{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'TechNews/css/main.css' %}">
</head>
<body>
    <div class="main-block">
        <p>Новости из мира технологий</p>
    </div>
    <div class="article">
        <p class="title">{{ title }}</p>
        <p class="line"></p>
        <p class="text">{{ text }}</p>
        <p class="line"></p>
        <p class="date">{{ date_input }}</p>
    </div>

    <form action="/">
        <input type="submit" value="Назад"/>
    </form>
</body>
</html>