{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TechNews</title>

    <link rel="stylesheet" href="{% static 'TechNews/css/main.css' %}">
</head>
<body>
    <div class="main-block">
        <p>Новости из мира технологий</p>
    </div>
    <div class="articles">
        {% for item in articles %}
            <p class="line"></p>
            <a href="article/{{ item.id }}/">{{ item.title }}</a>
            <p>{{ item.date_input }}</p>
        {% endfor %}

    </div>
</body>
</html>